<h1>Buscando <small>{{ termino }}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="isHeroe && heroes.length === 0 || !isHeroe && villanos.length === 0">
  <div class="col-md-12">
    <div class="alert alert-info">
      No existe resultado con el termino: {{ termino }}
    </div>
  </div>
</div>

<div class="card-columns">
  <div *ngIf="heroes.length > 0">
    <app-heroe-tarjeta *ngFor="let heroe of heroes" [heroe]="heroe" [index]="heroe.idx || 0" ></app-heroe-tarjeta>
  </div>
  <div *ngIf="villanos.length > 0">
    <app-villano-tarjeta *ngFor="let villano of villanos" [villano]="villano" [index]="villano.idx || 0" ></app-villano-tarjeta>
  </div>
</div>